@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: local('Mulish'), url(../fonts/Mulish/Mulish-VariableFont_wght.woff2) format('woff2');
  ascent-override: 80%;
  descent-override: 20%;
  line-gap-override: 0%;
}

@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: local('Mulish'), url(../fonts/Mulish/Mulish-Italic-VariableFont_wght.woff2) format('woff2');
  ascent-override: 80%;
  descent-override: 20%;
  line-gap-override: 0%;
}


/* removes excess padding in storybook container */
body {
  padding: 10px !important;
  font-family: 'Mulish', sans-serif !important;
}

/* 
  styles for `react-slider` due to needing to 
  target subclasses in order to target slider progress
*/
.slider-track {
  background-color: #6648DC;
  border-radius: 5px;
}

.slider .slider-track {
  top: -1px;
  height: 10px;
}

.slider-track.slider-track-1 {
  background: #ddd;
}
